;******************************************************************
;*                                                                *
;* PRÁCTICA Nº1-b: GESTIÓN DE UN TECLADO POR PROGRAMA CON         *
;*                   TEMPORIZACIÓN POR BUCLE SOFTWARE             *
;*                                                                *
;* Autores: Romero Cárdenas, Javier							      *
;* 		    Sánchez Millán, Juan Carlos                           *
;* Versión y fecha: Versión 3 14-03-16  						  *
;* 																  *
;*	V1: Creacion del programa									  *
;*	V2: Correcion de errores (sondea_fila en teclas finales)	  *
;*	V3: Sustitucion del bucle por el contador					  *
;*																  *
;******************************************************************


; Definición de símbolos:
FILA_0		EQU	P1.0
FILA_1		EQU	P1.1
FILA_2		EQU	P1.2
FILA_3		EQU	P1.3
COLUMNA_0 	EQU P1.4
COLUMNA_1 	EQU P1.5
COLUMNA_2 	EQU P1.6
LED			EQU	P3.7

; Código 
	ORG		0H
	JMP		INICIO		; arranque a la alimentación

	ORG		3H			; zona de vectores de interrupción, no utilizadas y
	RETI				; por ello conviene poner los RETI a modo de seguridad  (INT0)

	ORG		0BH			; TEMPORIZADOR 0
	RETI

	ORG		13H		   	; INT1
	RETI

	ORG		1BH		  	; TEMPORIZADOR 1
	RETI

	ORG		23H	   		; PUERTO SERIE
	RETI

; ---------------------------------------------------
; Código principal:

	ORG		40H	; por ejemplo, a partir de esta dirección se ubicará el código principal
INICIO:	   		; obsérvese como es posible etiquetar de manera múltiple una instrucción
	MOV TMOD,#01h ;Vamos a usar el temporizador 0. En caso de usar los 2 pondriamos 11h
SONDEA_TECLADO:
	ORL		P1,#01111111b	; se desactivan las cuatro filas, se asegura de que las tres entradas
							; para las tres columnas están como entradas y respeta el estado de P1.7
SONDEA_FILA_0:
	CLR		FILA_0
VER_SI_TECLA_1:
	JNB		COLUMNA_0,TECLA_1
VER_SI_TECLA_2:
	JNB		COLUMNA_1,TECLA_2
VER_SI_TECLA_3:
	JNB		COLUMNA_2,TECLA_3
	

SONDEA_FILA_1:
	SETB	FILA_0
	CLR		FILA_1
VER_SI_TECLA_4:
	JNB		COLUMNA_0,TECLA_4
VER_SI_TECLA_5:
	JNB		COLUMNA_1,TECLA_5
VER_SI_TECLA_6:
	JNB		COLUMNA_2,TECLA_6


SONDEA_FILA_2:
	SETB	FILA_1
	CLR		FILA_2
VER_SI_TECLA_7:
	JNB		COLUMNA_0,TECLA_7
VER_SI_TECLA_8:
	JNB		COLUMNA_1,TECLA_8
VER_SI_TECLA_9:
	JB		COLUMNA_2,SONDEA_FILA_3
	JMP		TECLA_9					

SONDEA_FILA_3:
	SETB	FILA_2
	CLR		FILA_3
VER_SI_TECLA_ASTERISCO:
	JB		COLUMNA_0,VER_SI_TECLA_0
	JMP		TECLA_ASTERISCO

VER_SI_TECLA_0:
	JB		COLUMNA_1,VER_SI_TECLA_ALMOHADILLA
	JMP		TECLA_0	

VER_SI_TECLA_ALMOHADILLA:
	JB		COLUMNA_2,SONDEA_TECLADO
	JMP		TECLA_ALMOHADILLA	

TECLA_1:
	CALL	FILTRA_REBOTES
	JNB		COLUMNA_0,$	   		; Espera la relajación de la tecla
	CALL	FILTRA_REBOTES
	MOV		P2,#"1"
	CPL		LED					; Cambia de estado la señal P1.7 (que se aplicará a un LED)
	JMP		VER_SI_TECLA_2		; o JMP SONDEA_TECLADO

TECLA_2:
	CALL	FILTRA_REBOTES
	JNB		COLUMNA_1,$	   		; Espera la relajación de la tecla
	CALL	FILTRA_REBOTES
	MOV		P2,#"2"
	CPL		LED					; Cambia de estado la señal P1.7 (que se aplicará a un LED)
	JMP		VER_SI_TECLA_3		; o JMP SONDEA_TECLADO

TECLA_3:
	CALL	FILTRA_REBOTES
	JNB		COLUMNA_2,$	   		; Espera la relajación de la tecla
	CALL	FILTRA_REBOTES
	MOV		P2,#"3"
	CPL		LED					; Cambia de estado la señal P1.7 (que se aplicará a un LED)
	JMP		SONDEA_FILA_1		; o JMP SONDEA_TECLADO

TECLA_4:
	CALL	FILTRA_REBOTES
	JNB		COLUMNA_0,$	   		; Espera la relajación de la tecla
	CALL	FILTRA_REBOTES
	MOV		P2,#"4"
	CPL		LED					; Cambia de estado la señal P1.7 (que se aplicará a un LED)
	JMP		VER_SI_TECLA_5		; o JMP SONDEA_TECLADO

TECLA_5:
	CALL	FILTRA_REBOTES
	JNB		COLUMNA_1,$	   		; Espera la relajación de la tecla
	CALL	FILTRA_REBOTES
	MOV		P2,#"5"
	CPL		LED					; Cambia de estado la señal P1.7 (que se aplicará a un LED)
	JMP		VER_SI_TECLA_6		; o JMP SONDEA_TECLADO

TECLA_6:
	CALL	FILTRA_REBOTES
	JNB		COLUMNA_2,$	   		; Espera la relajación de la tecla
	CALL	FILTRA_REBOTES
	MOV		P2,#"6"
	CPL		LED					; Cambia de estado la señal P1.7 (que se aplicará a un LED)
	JMP		SONDEA_FILA_2		; o JMP SONDEA_TECLADO

TECLA_7:
	CALL	FILTRA_REBOTES
	JNB		COLUMNA_0,$	   		; Espera la relajación de la tecla
	CALL	FILTRA_REBOTES
	MOV		P2,#"7"
	CPL		LED					; Cambia de estado la señal P1.7 (que se aplicará a un LED)
	JMP		VER_SI_TECLA_8		; o JMP SONDEA_TECLADO

TECLA_8:
	CALL	FILTRA_REBOTES
	JNB		COLUMNA_1,$	   		; Espera la relajación de la tecla
	CALL	FILTRA_REBOTES
	MOV		P2,#"8"
	CPL		LED					; Cambia de estado la señal P1.7 (que se aplicará a un LED)
	JMP		VER_SI_TECLA_9		; o JMP SONDEA_TECLADO

TECLA_9:
	CALL	FILTRA_REBOTES
	JNB		COLUMNA_2,$	   		; Espera la relajación de la tecla
	CALL	FILTRA_REBOTES
	MOV		P2,#"9"
	CPL		LED					; Cambia de estado la señal P1.7 (que se aplicará a un LED)
	JMP		SONDEA_FILA_3		; o JMP SONDEA_TECLADO

TECLA_ASTERISCO:
	CALL	FILTRA_REBOTES
	JNB		COLUMNA_0,$	   		; Espera la relajación de la tecla
	CALL	FILTRA_REBOTES
	MOV		P2,#"*"
	CPL		LED					; Cambia de estado la señal P1.7 (que se aplicará a un LED)
	JMP		VER_SI_TECLA_0		; o JMP SONDEA_TECLADO

TECLA_0:
	CALL	FILTRA_REBOTES
	JNB		COLUMNA_1,$	   		; Espera la relajación de la tecla
	CALL	FILTRA_REBOTES
	MOV		P2,#"0"
	CPL		LED					; Cambia de estado la señal P1.7 (que se aplicará a un LED)
	JMP		VER_SI_TECLA_ALMOHADILLA		; o JMP SONDEA_TECLADO

TECLA_ALMOHADILLA:
	CALL	FILTRA_REBOTES
	JNB		COLUMNA_2,$	   		; Espera la relajación de la tecla
	CALL	FILTRA_REBOTES
	MOV		P2,#"#"
	CPL		LED					; Cambia de estado la señal P1.7 (que se aplicará a un LED)
	JMP		SONDEA_TECLADO		; o JMP SONDEA_TECLADO

FILTRA_REBOTES:
	MOV TL0,#LOW (-10000) ;Esta forma de hacerlo es mas rapida para consumir los ciclos maquina que hacer el complemento a2.
	;Hay que gastar los 10000 ciclos maquina. Ejemplo cogido de Moodle.
	MOV TH0,#HIGH (-10000) ;En la parte baja y alta debemos almacenar el valor de ciclos maquina que queremos consumir
	SETB TR0; Bit de arranque del timer 0.
	JNB TF0,$ ;el $ salta a la misma instruccion mientras que TF0 sea 0, cuando este a 1 (se gasten los 10000 ciclos maquina)
		;siguiente instruccion. TF0 es el indicador de desbordamiento.
	CLR TF0 ;reseteamos la bandera
	CLR TR0 ;reseteamos el temporizador
	RET	;Retorno de rutina
	END
	
